body,p {margin: 0;}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    position: absolute;
    top: 24px;
    right: 10%;
}

.menu {
    float: left;
    padding: 0 8px;
}

p {
    color: white;
    font-style: normal;
    font-size: large;
}

#tap {
    display: block;
    position: relative;
    width: 1382px;
    height: 1080px;
    left: 538px;
    background-color: #0010ed;
}

#box1 {
    display: block;
    position: absolute;
    float: left;
    top: 200px;
    left: 16px;
    width: 360px;
    height: 600px;
    background-color: black;
    overflow: visible;
}

#box2 {
    display: block;
    position: absolute;
    float: left;
    top: 200px;
    left: 16px;
    width: 376px;
    height: 300px;
    background-color: black;
    overflow: visible;
}