body,p {margin: 5%}

#box1 {
    display: block;
    position: relative;
    width: 1200px;
    height: 800px;
    background-color:aqua;
    }

    .box1-1 {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 70%;
    background-color:rgb(255, 0, 234);
    }

    .box1-1 img {
        width: 100%;
    }

    #box1-2 {
    display: block;
    position: relative;
    width: 50%;
    height: 30%;
    background-color:rgb(59, 30, 57);
    }

    #box1-3 {
        display: inline-block;
        position: relative;
        left: 250px;
        width: 20%;
        height: 30%;
        background-color:rgb(0, 92, 61);
        overflow:visible;
        }

 #box2 {
    display: block;
    position: absolute;
    left: 1300px;
    width: 300px;
    height: 300px;
    background-color:antiquewhite;
    }