body,p {margin: 0;}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    position: absolute;
    top: 50px;
    right: 10%;
}

.menu {
    float: left;
    padding: 0 8px;
}

a {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#ibox {
    color: #0010ed;
    position: relative;
    width: 100px;
    height: 100px;
    top: 200px;
    left: 100px;
}

#tap {
    display: block;
    position: relative;
    width: 1382px;
    height: 1080px;
    left: 538px;
    background-color: #0010ed;
}

p {
    color: white;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
}

#box1 {
    display: block;
    position: absolute;
    float: left;
    top: 200px;
    left: 16px;
    width: 300px;
    height: 350px;
    background-color: black;
    overflow: visible;
}

#box2 {
    display: block;
    position: absolute;
    top: 200px;
    left: 400px;
    width: 360px;
    height: 400px;
    overflow: visible;
}

#box2-1 {
    display: block;
    position: absolute;
    width: 360px;
    height: 100px;
}

#box2-2 {
    display: block;
    position: absolute;
    top:116px;
    width:360px;
    height: 300px;
}

#box3 {
    display: block;
    position: absolute;
    top: 200px;
    left: 768px;
    width: 360px;
    height: 800px;
    overflow: visible;
}

#box3-1 {
    display: block;
    position: absolute;
    width: 360px;
    height: 200px;
}

#box3-2 {
    display: block;
    position: absolute;
    top: 216px;
    width: 360px;
    height: 200px;
}

#box3-3 {
    display: block;
    position: absolute;
    top: 432px;
    width: 360px;
    height: 200px;
}