body,p {margin: 0;}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    position: absolute;
    top: 24px;
    right: 10%;
}

.menu {
    float: left;
    padding: 0 8px;
}

p {
    color: white;
    font-style: normal;
    font-size: medium;
}

#tap {
    position: relative;
    width: 538px;
    margin-right: 16px;
    background-color: blue;
}

#box1 {
    position: absolute; 
    width: 536px;
    height: 340px;
    top: 552px;
    left: 554px;
    margin-bottom: 16px;
    background-color: black;
}

#box2 {
    position: absolute;
    width: 260px;
    height: 260px;
    top: 774px;
}