body,p {margin: 0;}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    position: absolute;
    top: 300px;
    left: 150px;
}

.menu {
    line-height: 72px;
}

a {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

p {
    color: #0010ed;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
}

#tap {
    display: block;
    position: relative;
    width: 538px;
    height: 10000px;
    margin-right: 16px;
    background-color: #0010ed;
}

#box1 {
    display: block;
    position: absolute; 
    width: 600px;
    height: 600px;
    top: 400px;
    left: 1104px;
    background-color: black;
    overflow: visible;
    background-image: url('앨범디자인일.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#box2 {
    display: block;
    position: absolute; 
    width: 300px;
    height: 200px;
    right: 616px;
    text-align: right;
}

#box3 {
    display: block;
    position: absolute;
    width: 600px;
    height: 600px;
    top: 1016px;
    left: 1104px;
    background-color: #000000;
    overflow: visible;
    background-image: url('앨범디자인이.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#box4 {
    display: block;
    position: absolute; 
    width: 600px;
    height: 600px;
    top: 1632px;
    left: 1104px;
    background-color: black;
    overflow: visible;
    background-image: url('앨범디자인삼.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#box5 {
    display: block;
    position: absolute; 
    width: 900px;
    height: 580px;
    top: 2748px;
    left: 554px;
    background-color: black;
    overflow: visible;
    background-image: url('잡지전체보기.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#box5-1 {
    display: block;
    position: absolute; 
    width: 200px;
    height: 600px;
    left: 916px;
}

#box6 {
    display: block;
    position: absolute; 
    width: 442px;
    height: 300px;
    top: 3544px;
    left: 554px;
    background-color: black;
    overflow: visible;
    background-image: url('actors_page1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#box7 {
    display: block;
    position: absolute; 
    width: 442px;
    height: 300px;
    left: 466px;
    background-color: black;
    overflow: visible;
    background-image: url('actors_page2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#box8 {
    display: block;
    position: absolute; 
    width: 442px;
    height: 300px;
    top: 3860px;
    left: 554px;
    background-color: black;
    overflow: visible;
    background-image: url('actors_page3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#box9 {
    display: block;
    position: absolute; 
    width: 442px;
    height: 300px;
    left: 466px;
    background-color: black;
    overflow: visible;
    background-image: url('actors_page4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#box10 {
    display: block;
    position: absolute; 
    width: 442px;
    height: 300px;
    top: 4176px;
    left: 554px;
    background-color: black;
    overflow: visible;
    background-image: url('actors_page5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#box11 {
    display: block;
    position: absolute; 
    width: 442px;
    height: 300px;
    left: 466px;
    background-color: black;
    overflow: visible;
    background-image: url('actors_page6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#box12 {
    display: block;
    position: absolute; 
    width: 442px;
    height: 300px;
    top: 4492px;
    left: 554px;
    background-color: black;
    overflow: visible;
    background-image: url('actors_page7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#box13 {
    display: block;
    position: absolute; 
    width: 442px;
    height: 300px;
    left: 466px;
    background-color: black;
    overflow: visible;
    background-image: url('actors_page8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#box14 {
    display: block;
    position: absolute; 
    width: 442px;
    height: 300px;
    top: 4808px;
    left: 554px;
    background-color: black;
    overflow: visible;
    background-image: url('actors_page9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#box15 {
    display: block;
    position: absolute; 
    width: 600px;
    height: 400px;
    top: 5908px;
    left: 554px;
}

#box16 {
    display: block;
    position: absolute; 
    width: 600px;
    height: 400px;
    top: 5958px;
    left: 554px;
    background-color: black;
    overflow: visible;
    background-image: url('대지 1 (1,2,3p).jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#box17 {
    display: block;
    position: absolute; 
    width: 600px;
    height: 400px;
    left: 616px;
    background-color: black;
    overflow: visible;
    background-image: url('대지2 (4,5,6p).png');
    background-size: cover;
    background-repeat: no-repeat;
}

#box18 {
    display: block;
    position: absolute;
    width: 400px;
    height: 300px;
    top: 6374px;
    left: 554px;
    background-color: #000000;
    overflow: visible;
    background-image: url('목업01.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#box19 {
    display: block;
    position: absolute;
    width: 400px;
    height: 300px;
    top: 6690px;
    left: 554px;
    background-color: #000000;
    overflow: visible;
    background-image: url('목업2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#box20 {
    display: block;
    position: absolute;
    width: 400px;
    height: 300px;
    left: 416px;
    background-color: #000000;
    overflow: visible;
    background-image: url('목업3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#box21 {
    display: block;
    position: absolute;
    width: 1100px;
    height: 590px;
    top: 7790px;
    left: 554px;
    background-color: #000000;
    overflow: visible;
    background-image: url('웹디자인일.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#box22 {
    display: block;
    position: absolute;
    width: 150px;
    height: 300px;
    top: 554px;
    left: 1116px;
}

#box23 {
    display: block;
    position: absolute;
    width: 1100px;
    height: 590px;
    top: 8396px;
    left: 554px;
    background-color: #000000;
    overflow: visible;
    background-image: url('웹디자인이.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#box24 {
    display: block;
    position: absolute;
    width: 1100px;
    height: 590px;
    top: 8996px;
    left: 554px;
    background-color: #000000;
    overflow: visible;
    background-image: url('웹디자인삼.png');
    background-size: cover;
    background-repeat: no-repeat;
}