body,p {margin: 5%}

p {
    background-color: #ffff00;
    margin: 0;
}

#box1 {
    position: relative;
    width: 1200px;
    height: 800px;
    background-color:aqua;
    }

    #box1-1 {
    position: inline-block;
    width: 50%;
    height: 50%;
    background-color:rgb(255, 0, 234);
    }

    #box1-2 {
    position: inline-block;
    width: 50%;
    height: 50%;
    background-color:rgb(255, 0, 234);
    }

 #box2 {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    background-color:antiquewhite;
    border: dotted 3px #000000
    }