body,p {margin: 0%}

#box1 {
    position: relative;
    top: 100px;
    left: 100px;
    width: 1200px;
    height: 800px;
    }

#box2 {
    position: relative;
    width: 1920;
    height: 1080;
    background-color: blue;
}