body,p {margin: 0%}

header {
    position: fixed;
    width: 100;
}

nav {
    position: relative;
    top: 20px;
    left: 70%;
    transform: translate(-50%,0);
}

menuitem {
    float: left;
    padding: 0 8px;
}
