body,p {margin: 0%}

header {
    position: fixed;
    width: 100;
    z-index: 1000;
}

nav {
    position: relative;
    top: 24px;
    left: 50px;
    transform: translate(-20%,0);
}

menu {
    float: left;
    padding: 0 8px;
}
